/* style.css */

/* Add a black border to images on hover */
img:hover {
  border: 1px solid black;
}

/* Highlight important paragraphs with a light yellow background color */
p.highlight {
  background-color: lightyellow;
}
.row{
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    text-align:center;
    

}
.btn{
    align-items:center;

}
.text-warning{
    text-align:center;
    margin-left:34rem;
}